/* 
======================== CSS RESET ======================== 
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
======================== END ======================== 
*/

:root {
  --bg-light: #373737;
  --bg-dark: #232831;
  --bg-extra-dark: #1a1d24;
  --clickable: #00b7f1;
  --focused: #f47825;
}

body {
  background-color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  color: white;
}

#connectionId {
  font-weight: 400;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 10px;
}

.main-container > div {
  margin: 20px;
}

#connectionContainer {
  width: 60vw;
  max-width: 500px;
  background-color: var(--bg-dark);
  padding: 20px 20px;
  border-bottom: var(--bg-extra-dark) 30px solid;
  height: 300px;
}

.remote-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

#remoteVideo {
  /* Make video to at least 100% wide and tall */
  width: 100%;
  height: 100%;
}

#screenShareBtn {
  padding: 8px 14px;
  border-radius: 5px;
  background-color: #cc343b;
}

button {
  background: none;
  border: none;
  padding: 10px 20px 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
}

#copyShareLinkBtn {
  border: var(--clickable) solid 2px;
  cursor: pointer;
  margin-top: auto;
  transition: background-color 0.15s ease-out;
  background-color: #ffffff00;
  margin-top: 25%;
  min-width: 40%;
}

#copyShareLinkBtn:hover {
  background-color: #ffffff10;
}

@keyframes beat {
  0% {
    transform: scale(0.84);
  }
  50% {
    transform: scale(0.88);
  }
  100% {
    transform: scale(0.84);
  }
}
